*{
  margin: 0%;
      padding: 0%;
}
.body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  #text{
    text-align: center;
    font-size: 1.5rem;
  }

  #quote-box{
    width: 35vw;
    padding: 4% 4%;
  }

  #author{
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
  }

  #new-quote{
    color:white;
  }

.button-twitter{
  margin-top: 3%;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}